@media only screen and (max-width: 768px) {
  .splInput {
    display: none;
  }
  .callAction {
    margin-bottom: 20px;
  }
}

/* for desktop */

@media only screen and (min-width: 769px) {
  .onlyMobile {
    display: none;
  }
}

.signupMain .inputContainer {
  position: relative;
  margin-bottom: 23px;
}

.splInput {
  position: absolute;
  left: 7%;
  width: 30vw;
  height: 18vw;
  min-width: 200px;
  background-size: cover;
}

.splInput .inputAndTextWrapper {
  position: absolute;
  width: 60%;
  top: 47%;
  left: 20%;
  text-align: center;
}
.inputAndTextWrapper .inputContainer {
  margin-bottom: 4px;
}

#girlSit {
  position: absolute;
  left: 22%;
  top: 18%;
  z-index: 2;
  width: 15%;
}

.splInput span {
  color: white;
  letter-spacing: 1.2px;
  font-size: 1.2em;
}

.changing-placeholder {
  position: absolute;
  left: 41px;
  bottom: 1px;
  letter-spacing: 3px;
  font-size: 1.1em;
  z-index: 1;
}

.loginSucessMsg {
  position: absolute;
  color: var(--light);
}
