.chatMessagesPanel {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  width: 49.93vw;
  background-color: #22215b;
  color: #fff;
}

.sendMessageBox {
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: #151433;
  height: fit-content;
}
.chatInputContainer {
  box-sizing: border-box;
  width: 80%;
  margin: 10px;
  min-height: 20px;
  max-height: 150px;
  position: relative;
  border-radius: 20px;
  color: black;
  background-color: #fff;
  padding: 1%;
  overflow-x: hidden;
  overflow-y: auto;
}
.chatInput {
  position: relative;
  margin: 10px;
  min-height: 10px;
  max-height: 15vh;
  width: 95%;
  padding-right: 10px;
  align-items: center;
  border: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.chatInput:focus {
  outline: none;
}

.sendBtn {
  position: relative;
  top: 4px;
}

/* messageBox */
.picSmall {
  height: 39px;
  width: 39px;
  border-width: 1px;
}
.picSmall:hover {
  border-width: 1px;
}

.chatMessageContainer {
  overflow-y: scroll;
}
.messageContainer {
  position: relative;
  margin: 10px;
  display: flex;
}
.messageBox {
  position: relative;
  top: 5px;
  max-width: 50%;
  max-height: 1000px;
  padding: 10px;
  border-radius: 20px;
  color: black;
  background-color: white;
  margin: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}
.sentMsg {
  flex-direction: row-reverse;
}
