.chatLeftPanel {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 24.67vw;
  background-color: #19183f;
}

/* User info start */
.userName-big::before {
  content: "@";
  color: #faff0a;
}

.profilePic {
  width: 130px;
  height: 130px;
  box-sizing: border-box;
  border-radius: 50%;
  background-size: cover;
  border: 3px solid var(--light);
}
.profilePic:hover {
  border: 3px solid #faff0a;
}
.userInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* for vertical alignment */
  align-items: center;
  border-bottom: 2px solid var(--light);
  padding: 20px 0px;
}
.userName-container {
  color: #faff0a;
  margin: 0px 30px;

  /* for ... in overflow */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.userName-big {
  color: white;
  font-size: 1.5rem;
}
.userinfo-small {
  color: #f3f3f3;
  font-size: 0.7rem;
}

/* User info end */

/* friend options info start */

.friendOptions {
  border-bottom: 2px solid var(--light);
  text-align: center;
}

.addFriend {
  margin: 10px;
  box-sizing: border-box;
  font-size: 24px;
  text-align: center;
}
.addFriend div {
  display: inline;
}
.addFriend div::before {
  content: "@  ";
  color: #faff0a;
}
.addFriend div input {
  max-width: 11vw;
  padding: 0px 10px;
  min-height: 3.8vh;
  border-radius: 40px;
  border: none;
  outline: none;
}
.addFriend div input[type="text"] {
  font-size: 16px;
}
.addFriend img {
  position: relative;
  top: 0.41vh;
  left: 1vw;
  color: var(--light);
}
.addFriend img:hover {
  cursor: pointer;
}

select {
  font-family: Scope One;
  border-radius: 35px;
  padding-left: 5px;
  padding-top: 2px;
  outline: none;
  margin-bottom: 10px;
}

/* Friends list */
.friendsList {
  overflow-y: auto;
}
.friendItem {
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  border-style: solid;
  border-color: rgba(0, 224, 185, 0.1);
  border-width: 2px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.inactive {
  opacity: 20%;
}
.friendInfo {
  display: flex;
  color: white;
  font-size: 12px;
  flex-direction: column;
  margin-left: 5px;
}
.active:hover {
  background-color: #151433;
}
.selected {
  background-color: #151433;
  border-left: 3px solid var(--light);
}

.small {
  margin: 8px;
  width: 50px;
  height: 50px;
  border-width: 2px;
}
.small:hover {
  border-width: 2px;
}
