:root {
  --light: #00e0b9;
  --dark: #22215b;
  --light-dark: #b563ff;
}

span {
  font-family: Scope One;
}

.loginMain {
  height: 100vh;
  display: flex;
  background: linear-gradient(90deg, var(--light) 50%, var(--dark) 88.88%);
}

.leftBox {
  width: 50%;
  height: 100%;
}

.rightBox {
  width: 50%;
  height: 100%;
}

/* right box  */

.girlPic {
  position: absolute;
  bottom: 0;
}

.logoPic {
  position: absolute;
  left: 20%;
  top: 2%;
}

/* right box - end  */

.loginBox {
  position: relative;
  width: 50%;
  height: 68.33%;
  top: 10%;
  left: 25%;
  background: linear-gradient(180deg, #575a89 0%, rgba(87, 90, 137, 0) 100%);
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  text-align: center;
}

/* input fileds */

.inputFld input,
.loginBtn {
  height: 45px;
  right: 28.3%;
  border: 1px solid var(--light);
  border-radius: 35px;
}

.inputFld input {
  width: 70%;
  padding: 0 20px;
  background: #ffffff;
}

.inputFld input:focus {
  outline: none;
  border: 3px solid black;
}

.inputFld input[type="text"] {
  font-family: Montserrat;
  font-size: 24px;
}

.inputFld label {
  position: relative;
  display: inline-block;
  margin-top: 40px;
  right: 24%;
  font-size: 1.5rem;
  line-height: 39px;
}

.loginBtn {
  margin-top: 60px;
  height: 40px;
  width: 39%;
  background: var(--dark);
}

.loginBtn span {
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #fff;
}

.loginBox .forgotUrl a {
  display: inline-block;
  margin-top: 15px;
  color: var(--light);
}

.loginBox .signupUrl {
  margin-top: 20px;
}

.loginBox .signupUrl a {
  margin-left: 5px;
  color: var(--light);
}
