:root {
  --light: #00e0b9;
  --dark: #22215b;
  --light-dark: #b563ff;
}

span {
  font-family: Scope One;
}

.loginMain {
  height: 100vh;
  display: flex;
  background: linear-gradient(90deg, var(--light) 50%, var(--dark) 88.88%);
}

.leftBox {
  width: 50%;
  height: 100%;
}

.rightBox {
  width: 50%;
  height: 100%;
}
/* right box  */

.girlPic {
  position: absolute;
  width: 96.8vh;
  height: 53.6vh;
  bottom: 0;
}

.logoPic {
  position: absolute;
  width: 57.3vh;
  height: 36.5vh;
}

.logoName {
  position: absolute;
  top: 2%;
  left: 3.6%;
  font-size: 8.86vh;
}

.logoTag {
  position: absolute;
  top: 11.7%;
  left: 7.1%;
  font-size: 2.77vh;
}
/* right box - end  */

.guyChat {
  position: absolute;
  width: 21vh;
  height: 22.7vh;
  top: 6.78vh;
  right: 29%;
  z-index: 1;
}

.loginBox {
  position: relative;
  width: 45%;
  height: 68.33%;
  top: 20%;
  left: 25%;
  background: linear-gradient(180deg, #575a89 0%, rgba(87, 90, 137, 0) 100%);
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  text-align: center;
}
/* input fileds */

.inputFld input,
.loginBtn {
  height: 6.23vh;
  right: 28.3%;
  border: 1px solid var(--light);
  border-radius: 35px;
}

.inputFld input {
  width: 70%;
  padding: 0 2.77vh;
  border: 2px solid #575a8900;
  background: #ffffff;
}

.inputFld input:focus {
  outline: none;
}

.inputFld input[type="text"] {
  font-family: Montserrat;
  font-size: 3.32vh;
}

.inputFld label {
  position: relative;
  display: inline-block;
  margin-top: 5.67vh;
  right: 23%;
  font-size: 3.32vh;
  line-height: 5.4vh;
}

.loginBtn {
  padding: 5px 5px 10px 10px;
  margin-top: 8.31vh;
  width: 155.72px;
  background: var(--dark);
}

.loginBtn span {
  font-size: 4.1vh;
  line-height: 5.67vh;
  text-align: center;
  letter-spacing: 0.1em;
  color: #fff;
}

.loginBox .forgotUrl a {
  display: inline-block;
  font-size: 2.21vh;
  margin-top: 2.07vh;
  color: var(--light);
}

.loginBox .signupUrl {
  position: absolute;
  bottom: 12%;
  left: 21%;
  margin-top: 2.77vh;
  font-size: 2.21vh;
}

.loginBox .signupUrl a {
  margin-left: 5px;
  font-size: 2.21vh;
  color: var(--light);
}

@keyframes color-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
.logoPic:hover {
  animation: color-rotate 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
